mixin audit()
    .audit.section 
        .audit__body.container 
            h2.audit__title.title AUDIT
            p.audit__desc We believe in our security.
            .audit__content 
                .audit__item 
                    img(src="@img/audit-img-1.png", alt="" draggable="false" loading="lazy")
                .audit__item 
                    img(src="@img/audit-img-2.png", alt="" draggable="false" loading="lazy")