mixin faq()
    .faq.section 
        .faq__body.container 
            h2.faq__title.title FAQ
            p.faq__desc Answering your questions.
            .accordion 
                .accordion__button(type="button") 
                    span.accordion__title How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                    .accordion__buttons
                .accordion__content 
                    p.accordion__p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
            .accordion
                .accordion__button(type="button")  
                    span.accordion__title How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                    .accordion__buttons
                .accordion__content 
                    p.accordion__p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
            .accordion
                .accordion__button(type="button")  
                    span.accordion__title How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                    .accordion__buttons
                .accordion__content 
                    p.accordion__p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
                