mixin footer()
    footer.footer 
        .footer__body.container
            p.footer__p © 2021 BITSHIBA TOKEN
            a(href="#header").footer__up.enable-md 
                img(src="@img/footer-up.svg", alt="" draggable="false" loading="lazy")
            a(href="#header").footer__up.disable-md 
                img(src="@img/footer-up.svg", alt="" draggable="false" loading="lazy")