mixin header()
    header.header.section.container 
        .header__content
            a(href="index.html").logo.enable-xl
                img(src="@img/logo.png", alt="")
            .menu.enable-xl
                span.menu-btn.menu-btn_1
                span.menu-btn.menu-btn_2
                span.menu-btn.menu-btn_3
        nav.header__nav
            a(href="index.html").logo.disable-xl
                img(src="@img/logo.png", alt="")
            ul.header__list 
                li.header__li
                    a(href="#!").header__link COINMARKETCAP  
                li.header__li
                    a(href="#!").header__link DEX TOOLS  
                li.header__li
                    a(href="#!").header__link LITEPAPER  
                li.header__li
                    a(href="#!").header__link ROADMAP  
            .header__buttons 
                a(href="#!").header__btn LIVE CHART
                .header__icons
                    a(href="https://www.telegram.com" target="_blank").header__icon 
                        img(src="@img/telegram.png", alt="")
                    a(href="https://www.twitter.com" target="_blank").header__icon 
                        img(src="@img/twitter.png", alt="")

