mixin intro()
    .intro.section 
        .intro__body.container 
            img(src="@img/intro-img.png", alt="").intro__img
            h1.intro__title BITSHIBA AIMS TO GO ABOVE AND BEYOND FOR ITS COMMUNITY
            p.intro__desc OUR COMMUNITY IS EVERYTHING TO US AND THE FOUNDATION FOR OUR SUCCESS. BITSHIBA IS HAPPY TO PROVIDE EVERYONE THE OPPORTUNITY TO INVEST SAFELY INTO THE MOST CURRENT AND HOTTEST PROJECT LAUNCH ON BINANCE SMART CHAIN $SHIBA
            a(href="#!").intro__btn Buy On Pancakeswap
            a(href="#!").intro__btn_2.enable-lg LIVE CHART
            .intro__icons 
                img(src="@img/intro-icon-1.png", alt="")
                img(src="@img/intro-icon-2.png", alt="") 
