mixin map()
    .map.section 
        .map__body.container 
            h2.map__title.title ROADMAP
            p.map__desc Our steps to success.
            .map__content 
                .map__item(data-number="01") 
                    .map__item-top 
                        img(src="@img/map-icon-1.svg", alt="" draggable="false" loading="lazy")
                        span.map__subtitle Phase 1
                    ul.map__item-list   
                        li.map__item-li Website Launch
                        li.map__item-li Smart Contract Deployment
                        li.map__item-li 10K Community Members
                        li.map__item-li 100% Fair Token Launch
                        li.map__item-li DEX Listing
                        li.map__item-li Liquidity Lock with Unicrypt
                        li.map__item-li Burn 50% of Total Supply
                .map__item(data-number="02")  
                    .map__item-top 
                        img(src="@img/map-icon-1.svg", alt="" draggable="false" loading="lazy")
                        span.map__subtitle Phase 2
                    ul.map__item-list   
                        li.map__item-li Whitepaper Release
                        li.map__item-li Coinmarketcap + Coingecko Listing
                        li.map__item-li Growth, Promotions, Awareness
                        li.map__item-li Influencer Marketing
                        li.map__item-li 50,000 Community Members
                .map__item(data-number="03") 
                    .map__item-top 
                        img(src="@img/map-icon-1.svg", alt="" draggable="false" loading="lazy")
                        span.map__subtitle Phase 3
                    ul.map__item-list   
                        li.map__item-li Certik Audit
                        li.map__item-li Decentralized DAO Voting System
                        li.map__item-li High Profile Partnerships
                        li.map__item-li Increased HODL Incentives
                        li.map__item-li Top 100 crypto by Marketcap
                .map__item(data-number="04")  
                    .map__item-top 
                        img(src="@img/map-icon-1.svg", alt="" draggable="false" loading="lazy")
                        span.map__subtitle Phase 4
                    ul.map__item-list   
                        li.map__item-li Interconnected Blockchain Swaps
                        li.map__item-li Launchpad
                        li.map__item-li Nextgen NFTs
                        li.map__item-li Crypto Outreach Program
                        li.map__item-li Top 50 crypto by Marketcap