mixin use()
    .use.section 
        .use__body.container 
            .use__left 
                img(src="@img/use-img.png", alt="" draggable="false" loading="lazy")
            .use__right 
                h2.use__title.title NEXT GEN NFTS MULTI-BLOCKCHAIN USE ENDLESS POSSIBILITIES
                p.use__desc BitShiba is here to stay. No idea is too big, no task is too complex with the support of our community. DAO proposals and voting will lead BitShiba in a positive direction fully decided on by $SHIBA holders.