// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: Oswald, sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    background: linear-gradient(180deg, #05142E 0%, #13243E 100%);
    position: relative;
    min-width: 100%;
    width: 100%;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../img/bg.png');
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.section{
    padding-top: 50px;
    padding-bottom: 50px;
    @include media(767){
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.title{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 35px;
    color: #F9D311;
    @include media(776){
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 25px;
    }
}